
.body-home {
    /* padding: 7px; */
    background: rgba(18,25,48);
}

.no-padding{
    padding: 0 !important
}

.top-bar {
    padding: 0.8em;
    font-size: 24px;
    color: #E9E9EA;
    background: rgba(39, 46, 69, 0.6)
}

.text-titulo {
    margin: 10px !important;
    text-align: center;
    padding: 0px !important;
    margin-block-end: 0 !important;
    margin-block-start: 0 !important;
    display: inline;
}

.page-content {
    padding: 10px;
    /* background: #304368 !important; */
    background: rgb(26,28,49) !important;
}

.sidebar-style {
    background: #15161C !important;
}

.footer-content {
    background: #15161C;
    color: #E9E9EA;
    border-top: #E9E9EA;
    width: 100%;
    padding: 10px;

}

.btn-menu {
    background: rgba(39, 46, 69, 1) !important;
    color: #E9E9EA !important;
    border-color: #aaa !important;
}

.btn-stats {
    position: absolute;
    right: 0;
    margin-right: 12px;
}
